* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

$base-color: #171717;

body {
  background-color: $base-color;
  font-family: "Fira Code", sans-serif;
  color: white;
  padding: 50px 50px;
}

.button {
  background-color: white;
  border: none;
  font-size: 12px;
  font-family: "Fira Code", sans-serif;
  padding: 10px 19px;
  font-weight: bold;
  display: block;
}

.info {
  margin: 0;
  max-width: 700px;

  &__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  &__paragraph {
    font-size: 21px;
    font-weight: normal;
    margin-bottom: 30px;
  }
}

.filters {
  list-style: none;
  padding: 0;
  display: flex;

  &__button {
    background: transparent;
    font-weight: normal;
    padding: 10px 30px;
    border: 1px solid white;
    color: white;

    &--active {
      background-color: white;
      color: $base-color;
    }
  }
}

.container {
  padding-top: 100px;
}

.item {
  border: 2px solid white;
  display: grid;
  min-height: 400px;
  grid-template-rows: 100px 1fr;

  &__header {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
  }

  &__title {
    color: $base-color;
    font-size: 21px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 25px;
    align-items: center;
  }

  &__paragraph,
  &__button {
    font-size: 14px;
  }
}
