* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

$base-color: #171717;

body {
  background-color: $base-color;
  font-family: "Fira Code", sans-serif;
  color: white;
  padding: 0;
  margin: 0;
}

.navigation {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 60px;
  background: $base-color;
}

.logo {
  font-size: 21px;
  font-weight: bold;
}

.link {
  color: white;
  text-decoration: none;
}

.menu {
  display: flex;

  &__item {
    font-size: 16px;
    list-style: none;
    padding-right: 20px;
  }
}

.content {
  padding: 50px;
}

.button {
  background-color: white;
  border: none;
  font-size: 12px;
  font-family: "Fira Code", sans-serif;
  padding: 10px 19px;
  font-weight: bold;
  display: block;
}

.info {
  margin: 0;
  max-width: 700px;

  &__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  &__paragraph {
    font-size: 21px;
    font-weight: normal;
    margin-bottom: 30px;
  }
}

.filters {
  list-style: none;
  padding: 0;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fill, minmax(120px, 120px));

  &__button {
    background: transparent;
    font-weight: normal;
    padding: 10px 30px;
    border: 1px solid white;
    color: white;
    width: 120px;

    &--active {
      background-color: white;
      color: $base-color;
    }
  }
}

.container {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 100px 50px;
}

.item {
  border: 2px solid white;
  display: grid;
  min-height: 400px;
  grid-template-rows: 100px 1fr;

  &__header {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
  }

  &__title {
    color: $base-color;
    font-size: 21px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 25px;
    align-items: center;
  }

  &__paragraph,
  &__button {
    font-size: 14px;
  }
}

.form-container {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form-box {
  width: 459px;
  height: 493px;
  padding: 30px 55px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;

  &__title {
    margin-top: 30px;
    font-size: 21px;
    margin-bottom: 0;
  }

  &__paragraph {
    font-size: 14px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input {
    font-family: "Fira Code", sans-serif;
    font-size: 16px;
    color: white;
    margin: 15px 0;
    background: none;
    border: none;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
    width: 234px;
  }

  &__button {
    margin-top: 50px;
    margin-bottom: 10px;
    cursor: cell;
  }

  &__checkbox {
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #cacece;
    padding: 5px;
    display: inline-block;
    margin-right: 8px;
    cursor: cell;
  }

  &__checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
      inset 0px 1px 3px rgba(0, 0, 0, 0.1);
  }

  &__checkbox:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
      inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
      inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
  }

  &__checkbox-label {
    font-size: 10px;
    cursor: cell;
  }
}

.check {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: cell;
}
